services:
  mongodb:
    image: mongo:latest
    container_name: mongodb_container
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    container_name: backend_container
    ports:
      - "5000:5000"
    environment:
      - SECRET_KEY=your_docker_secret_key
    depends_on:
      - mongodb
    restart: always

  frontend:
    build: ./frontend
    container_name: frontend_container
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: always

volumes:
  mongo_data: